
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F2EDD0;
}
.formulario-contacto {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15vh auto;
    padding: 20px;
    background-color: #E4F2B5; /* Color de fondo */
    border: 1px solid #72A603;
    border-radius: 10px;
    max-width: 600px;
}

.formulario-contacto h2 {
    padding: 10px;
    margin: auto;
    color: #72A603; /* Título verde */
}

.formulario-contacto h2:hover {
    background-color: #D3E1A4;
    color: #61A502;
    border-radius: 20%;
}

.formulario-contacto label {
    margin-top: 10px;
    color: #333;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #72A603;
    border-radius: 5px;
}

.formulario-contacto button {
    background-color: #72A603; /* Botón verde */
    color: yellow; /* Texto del botón amarillo */
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.formulario-contacto button:hover {
    background-color: #EAF207; /* Fondo del botón al pasar el mouse amarillo */
    color: #72A603; /* Texto del botón al pasar el mouse verde */
}
