body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F2EDD0;
}

header {
    background-color: #72A603;
    color: yellow;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

img {
   
    width: 7%;
    
    z-index: 2;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    padding-right: 40px;
    margin: 0;
    font-size: 3.5em;
    font-family: 'Brush Script MT';
    padding-left: 5px;
    position: relative;
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
}

input[type="text"] {
    padding: 8px;
    border: 2px solid black;
    border-radius: 20px;
    flex-grow: 1;
    margin: 0px;
}

.opcionusuario {
    display: flex;
    align-items: center;
}

.opcionusuario a, .opcionusuario span {
    color: yellow;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
}

.opcionusuario a:hover {
    color: #72A603;
    border-radius: 10px;
    background-color: #EAF207;
}

.menuopcion {
    font-family: 'Comic Sans MS';
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #E4F2B5;
    border: 1px solid black;
    box-sizing: border-box;
}

nav ul {
    border-radius: 20px;
    margin: 0px; 
    padding: 0px; 
    list-style: none;
    padding-left: 40px;
}

nav li {
    display: inline-block; 
    margin: 0px; 
    padding: 0px;
}

nav li a {
    display: block; 
    text-decoration: none; 
    padding: 5px 7px;
    color: #EAF207; 
    border: 1px solid black;
    border-radius: 20px;
    background: #EAF207; 
    color: green;
    border-color: black;
    position: relative;
    margin: 8px;
    font-size: 16px;
}

nav li a:hover {
    background: #72A603; 
    color:  #EAF207;
    border-color: black;
    text-decoration: underline;  
}

/* Estilo para el botón de todas las categorías y el menú desplegable */
.category-button {
    background-color: #EAF207;
    color: green;
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px;
    display: inline-block;
}

.category-button:hover {
    background-color: #72A603;
    color: #EAF207;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 300px;
    max-height: 400px; /* Altura máxima del menú desplegable */
    overflow-y: auto; /* Barra de desplazamiento vertical */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    left: 0;
}

.dropdown-category {
    margin-bottom: 10px;
}

/* Estilo para el texto de las categorías */
.dropdown-category strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #72A603; /* Cambia este valor al color deseado */
}

.dropdown-category a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 2px 0;
}

.dropdown-category a:hover {
    background-color: #72A603; /* Cambia a verde */
    color: #EAF207; /* Opcional: cambia el color del texto si es necesario */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.carrito {
    position: relative;
}

#carritoButton {
    background-color: #EAF207;
    color: green;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

#carritoButton:hover {
    background-color: #72A603;
    color: #EAF207;
}

.carrito-lateral {
    height: 100%;
    width: -1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F2EDD0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    display: flex;
    flex-direction: column; /* Habilita el layout de flex en columna */
    min-width: 300px; /* Ancho mínimo para que no se corte el contenido */
    max-width: 400px; /* Ancho máximo para que no ocupe toda la pantalla */
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #72A603;
    border-bottom: 1px solid #ddd;
}

.carrito-header span {
    font-size: 18px;
    font-weight: bold;
    color: yellow;
}

.close-carrito {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: yellow;
}

.carrito-body {
    padding: 20px;
    flex: 1; /* Permite que el cuerpo del carrito ocupe todo el espacio disponible */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
}

.carrito-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.carrito-body ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.carrito-footer {
    padding: 20px;
    background-color: #72A603;
    border-top: 1px solid #ddd;
    margin-top: auto; /* Empuja el footer hacia abajo */
  
}

.carrito-footer p {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: yellow;
}

.carrito-footer button {
    background-color: #eeea11;;
    color: #72A603;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.carrito-footer button:hover {
    background-color: #72A603;
}

/* Estilo para el carrito vacío */
.carrito-vacio {
    text-align: center;
    margin-top: 50px;
}

.carrito-vacio p {
    font-size: 18px;
    color: green;
}

/* CSS adicional para los productos del carrito */
.producto-carrito {
    display: flex;
    align-items: center;  /* Alineación vertical al centro */
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px; /* Espacio interno alrededor de todo el producto */
    width: 100%; 
}

.producto-carrito img {
    width: 50px; /* Ajusta el ancho de la imagen según prefieras */
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: cover; /* Para que la imagen se ajuste al contenedor manteniendo la relación de aspecto */
}

.producto-carrito div { /* Cambios para alinear horizontalmente */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; /* Ajustar para que ocupe el espacio restante */
    justify-content: space-between; /* Distribuye espacio entre nombre y botones */
}

.producto-carrito p {
    margin: 0;
    font-size: 14px;
    margin-right: 15px; /* Espacio entre el nombre y los botones de cantidad */
}


.producto-carrito .cantidad {
    display: flex;
    align-items: center;
    flex-direction: row; /* Alinea los botones horizontalmente */
    margin-right: auto; /* Empuja los botones a la izquierda */
}

.producto-carrito .cantidad button {
    background-color: #72A603; 
    color: white;
    border: none;
    padding: 3px 7px; /* Reduce ligeramente el padding */
    cursor: pointer;
    border-radius: 3px;
    margin: 0 3px; /* Reduce ligeramente el margen */
    font-size: 12px;
}

.producto-carrito .eliminar {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}





#intentaloAquiButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#intentaloAquiButton:hover {
    background-color: #72A603;
}

/* Estilo para el botón de volver arriba */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#backToTopBtn:hover {
    background-color: #333;
}
