body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F2EDD0;
}

header {
    background-color: #72A603;
    color: yellow;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

img {
    width: 10%;
    z-index: 2;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    padding-right: 40px;
    margin: 0;
    font-size: 3.5em;
    font-family: 'Brush Script MT';
    padding-left: 5px;
    position: relative;
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
}

input[type="text"] {
    padding: 8px;
    border: 2px solid #8fce06;
    border-radius: 20px;
    flex-grow: 1;
    margin: 0px;
}

.opcionusuario {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opcionusuario a, .opcionusuario span {
    color: yellow;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
}

.opcionusuario a:hover {
    color: #72A603;
    border-radius: 10px;
    background-color: #EAF207;
}

.separator {
    border-left: 2px solid yellow;
    height: 50px; /* Ajusta la altura según sea necesario */
    margin: 0 15px; /* Espaciado entre los elementos */
}

.carrito {
    display: flex;
    align-items: center;
}

#carritoButton {
    background-color: #EAF207;
    color: green;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

#carritoButton:hover {
    background-color: #72A603;
    color: #EAF207;
}

.menuopcion {
    font-family: 'Comic Sans MS';
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #E4F2B5;
    border: 1px solid black;
    box-sizing: border-box;
}

nav ul {
    border-radius: 20px;
    margin: 0px; 
    padding: 0px; 
    list-style: none;
    padding-left: 40px;
}

nav li {
    display: inline-block; 
    margin: 0px; 
    padding: 0px;
}

nav li a {
    display: block; 
    text-decoration: none; 
    padding: 5px 7px;
    color: #EAF207; 
    border: 1px solid black;
    border-radius: 20px;
    background: #EAF207; 
    color: green;
    border-color: black;
    position: relative;
    margin: 8px;
    font-size: 16px;
}

nav li a:hover {
    background: #72A603; 
    color:  #EAF207;
    border-color: black;
    text-decoration: underline;  
}

/* Estilo para el botón de todas las categorías y el menú desplegable */
.category-button {
    background-color: #EAF207;
    color: green;
    padding: 5px 6px 5px 4px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px;
    display: inline-block;
    font-family: 'Comic Sans MS';
}

.category-button:hover {
    background-color: #72A603;
    color: #EAF207;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e4f2b5;
    min-width: 300px;
    max-height: 400px; /* Altura máxima del menú desplegable */
    overflow-y: auto; /* Barra de desplazamiento vertical */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    left: 0;
}

.dropdown-category {
    margin-bottom: 10px;
}

/* Estilo para el texto de las categorías */
.dropdown-category strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #72A603; /* Cambia este valor al color deseado */
     font-family: 'Comic Sans MS';
}

.dropdown-category a {
    color: green;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 2px 0;
}

.dropdown-category a:hover {
    background-color: #72A603; /* Cambia a verde */
    color: #EAF207; /* Opcional: cambia el color del texto si es necesario */
}

.dropdown:hover .dropdown-content {
    display: block;
}
.carrito-lateral {
    opacity: 0.9;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: #F2EDD0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    display: flex;
    flex-direction: column; /* Habilita el layout de flex en columna */
}

.carrito-header {  

    align-items: center;
    padding: 20px;
    background-color: #72A603;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.carrito-header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: yellow;
}

.close-carrito {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #eaf207;
}

.carrito-body {
    background-color: rgba(237, 230, 187, 0.756);
    flex: 1; /* Permite que el cuerpo del carrito ocupe todo el espacio disponible */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
}

.carrito-body ul {
    list-style: none;
    padding: 20px;
    margin: 20px;
}

.carrito-body ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.carrito-footer {
    border: 10px solid #EAF207;
    border-radius: 10px;
    padding: 20px;
    background-color: #72A603;
    border-top: 1px solid #ddd;
    margin-right: 20px;
    margin-top: auto; /* Empuja el footer hacia abajo */
    width: 100%; /* Para que el pie de página ocupe todo el ancho */
}

.carrito-footer p {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: yellow;
}

.carrito-footer button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.carrito-footer button:hover {
    background-color: #72A603;
}

/* Estilo para el carrito vacío */
.carrito-vacio {
    text-align: center;
    margin-top: 50px;
}

.carrito-vacio p {
    font-size: 18px;
    color: green;
}

/* CSS adicional para los productos del carrito */
.producto-carrito {
    display: flex;
    align-items: center; /* Alinea los elementos al centro verticalmente */
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 100%; /* Ocupa todo el ancho */
}

.producto-carrito img {
    width: 60px; /* Ajusta el ancho de la imagen según prefieras */
    height: 60px;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: cover; /* Para que la imagen se ajuste al contenedor manteniendo la relación de aspecto */
}

.producto-carrito div { 
    border: 2px solid #72A603 ;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: nowrap;
    border-radius: 24px 24px 24px 24px; ;
}

.producto-carrito p {
    margin: 2px;
    font-size: 18px;
    margin-right: 15px; /* Espacio entre el nombre y los botones de cantidad */
}


.producto-carrito .cantidad {
    margin: 10px;
    background: #ddd;
    display: contents;
    align-items: auto;
}

.producto-carrito .cantidad button {
    background-color: #72A603;
    color: white;
    border: none;
    padding: 3px 7px; 
    cursor: pointer;
    border-radius: 3px;
    margin: 0 3px; 
    font-size: 12px;
}

.producto-carrito .eliminar {
    font-size: 15px; /* Cambios para botón eliminar */
    color: #fefefe;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
    background-color:red;
    margin-top: 5px;
    margin-bottom: 5px;
}

#intentaloAquiButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#intentaloAquiButton:hover {
    background-color: #72A603;
}

/* Estilo para el botón de volver arriba */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#backToTopBtn:hover {
    background-color: #333;
}

/* css/modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #e4f2b5;
    margin: 15% auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #72a603;
    width: 200px;
    height: 197px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#editarPerfilButton,
#cerrarSesionButton {
    margin-left: 10px;
}

#editarPerfilButton:hover,
#cerrarSesionButton:hover {
    text-decoration: underline;
}

.home-button {
    display: inline-block;
    margin-left: 20px; /* Aumenta el margen para alejar el botón de la casa */
    font-size: 24px;
    color: #72a603

}

.home-button:hover {
    color: #007bff;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.producto-carrito {
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.producto-carrito img {
    max-width: 100%;
    height: auto;
}
