main {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

.carrusel {
    padding-top: 39px;
    top: 0;
    width: 98%;
    overflow: hidden;
    height: 300px;
    background-color: #F2EDD0;
    margin-bottom: 40px;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
    display: none; /* Ocultar todas las imágenes inicialmente */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
    height: 100%; /* Ajusta la altura de las imágenes para que llenen el contenedor */
    z-index: auto;
}

.slides img.active {
    display: block; /* Mostrar la imagen activa */
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Permite que los controles estén sobre la imagen */
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    padding: 16px;
    cursor: pointer;
    pointer-events: auto; /* Permite que los botones sean clicables */
    z-index: 10; /* Asegúrate de que estén sobre las imágenes */
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicators {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.ofertas {
    text-align: center;
    padding: 20px 0;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

.ofertas-carrusel {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.oferta {
    width: calc(25% - 120px);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px #8fce06;
    margin: 10px;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.ofertas-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.ofertas-prev, .ofertas-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productos {
    text-align: center;
    padding: 20px 0;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

.productos-carrusel {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.producto {
    min-width: 250px; /* Ajustar el tamaño de los productos */
    height: 350px; /* Ajustar la altura de los productos */
    flex-shrink: 0;
    margin: 0 15px; /* Espacio entre los productos */
    transition: transform 0.5s ease-in-out;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px; /* Espacio entre la imagen y el contenido */
}

.producto-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1em;
    margin-bottom: 10px;
}

.producto button {
    background-color: #72A603;
    color: yellow;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #EAF207;
    color: #72A603;
}

/* Estilos para el footer */
#contacto {
    background-color: #72A603; /* Color verde */
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: yellow; /* Texto amarillo */
}

#contacto p {
    margin: 0;
}

#contacto a {
    color: yellow; /* Color del enlace amarillo */
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

.btn-agregar {
    background-color: #72a603;
    color: #eaf207;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #EAF207;
    color: #72A603;
}
