.contenedor-productos {
    display: flex;
    margin-top: 100px; /* Ajuste para que no se solape con el header */
}

aside.filtros {
    width: 20%;
    padding: 45px;
    background-color: #E4F2B5;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside.filtros h2, 
aside.filtros p {
    color: #72a603;
}

.subcategorias ul {
    list-style-type: none;
    padding: 0;
}

.subcategorias li {
    margin-bottom: 10px;
}

.subcategorias a {
    color: #72a603;
    text-decoration: none;
}

.subcategorias a:hover {
    text-decoration: underline;
}

.filtros-adicionales h3 {
    color: #72a603;
    margin-top: 20px;
}

.filtros-adicionales label {
    display: block;
    margin-top: 10px;
}

section.productos {
    width: 80%;
    padding: 20px;
    background-color: #F2EDD0;
    padding: 35px;
}

.ordenar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.ordenar label {
    margin-right: 10px;
}

.lista-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.producto {
    width: calc(25% - 30px);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px #72A603;
    height: fit-content;
    display: grid;
    justify-content: center;
}

.producto .precio {
    color: #72a603;
    font-size: 1.2em;
    margin: 10px 0;
}

.producto .descripcion {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #72a603;
}

.btn-agregar {
    background-color: #72a603;
    color: #eaf207;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #72A603;
}

/* Estilo para las imágenes */
.producto img {
    max-width: 100%;
    width: 227px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    z-index: auto;
}

/* Estilo para el precio original tachado */
.precio-original {
    text-decoration: line-through !important;
    color: red !important;
    font-size: 1em !important;
}

/* Estilo para el precio con descuento */
.precio-con-descuento {
    color: green;
    font-size: 1.2em;
    font-weight: bold;
}

/* Estilo para el porcentaje de descuento */
.descuento {
    color: orange;
    font-size: 1em;
    font-weight: bold;
}



/* Estilos para el footer */
#contacto {
    background-color: #72A603; /* Color verde */
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: yellow; /* Texto amarillo */
}

#contacto p {
    margin: 0;
}

#contacto a {
    color: yellow; /* Color del enlace amarillo */
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

.btn-agregar:hover {
    background-color: #EAF207;
    color: #72A603;
}