body {
 
    background-color: #F2EDD0;
    margin: 0;
    padding: 0;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.employee-section {
    background-color: #e4f2b5;
    border: 1px solid #72a603;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px #e4f2b5;
    border-radius: 5px;
}

.employee-info {
    margin-bottom: 20px;
}

.details {
    margin-bottom: 10px;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.configuracion-div-form {
    display: flex;
    justify-content: center;
}

.centrar-form {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #72A603;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8fce06;
}


body {
  
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    background-color: #e4f2b5;
    border: 1px solid #72a603;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #e4f2b5;
}

.table-header {
    background-color: #72A603;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table thead th {
    background-color: #72A603;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #72a603;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: none;
    text-decoration: underline;
}
/* Estilos para el footer */
#contacto {
    background-color: #72A603; /* Color verde */
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: yellow; /* Texto amarillo */
}

#contacto p {
    margin: 0;
}

#contacto a {
    color: yellow; /* Color del enlace amarillo */
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}
