.contenedor-ventas {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 85px;
}

.productos {
    width: 65%;
    height: calc(100vh - 130px - 40px); /* Altura menos el header y el padding */
    overflow-y: auto; /* Habilitar scroll vertical */
    margin-top: 25px;
}

.carrito {
    width: 25%;
    border: 3px solid #72a603;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e4f2b5f9;
    display: grid;
    position: sticky; /* Permitir que el carrito sea fijo */
    top: 130px; /* Altura del header */
    height: calc(100vh - 130px - 150px); /* Altura menos el header y el padding */
    margin-top: 20px;
      overflow-y: auto;
}

/* Título del carrito */
.carrito h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Lista de productos */
#carrito-lista {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#carrito-lista li {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    flex-wrap: nowrap;
}

/* Nombre del producto */
#carrito-lista li .nombre-producto {
    font-size: 1.2em;
    font-weight: bold;
}

/* Precio del producto */
#carrito-lista li .precio-producto {
    font-size: 0.9em;
    color: #888;
}

/* Total */
.carrito p {
    text-align: right;
    font-size: 1.1em;
    margin-bottom: 20px;
  
}

/* Botón de procesar compra */
.carrito .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #72a603;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    border: 1px solid #72A603 ;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #E4F2B5;
    color: #333;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #72A603;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
    color: #EAF207;
}

.button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #72A603;
    color: #E4F2B5;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #72a603;
    text-decoration: none;
}


.search-container {
    margin-bottom: 20px;
    text-align: center;
}

#buscar-producto {
    width: 65%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #72a603;
    border-radius: 5px;
}

/* Agregar estilo para el estado de clic y foco del botón de búsqueda */
#buscar-producto:focus,
#buscar-producto:active {
    border-color: #72a603;
    outline: #72A603; /* Opcional: eliminar el contorno por defecto del navegador */
}