body {
    background-color: #F2EDD0; 
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 100px; /* Añadir margen superior para evitar solapamiento con el header */
    box-sizing: border-box;
    display: grid;
    align-content: center;
}

.lista {
    width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: #E4F2B5; /* Fondo verde claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra para mejor visualización */
}

h1.text-center {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    border-radius: 10px;
}
h1.text-center:hover {
    color: #333;
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #72a603;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #E4F2B5;
    color: #333;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #72A603;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
    color: #EAF207;
    stroke: #333;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #72A603;
    color: #E4F2B5;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #0056b3;
    text-decoration: none; /* Opcional: mantener el estilo de botón al pasar el ratón */
}

.boton-agregar {
    text-align: right;
}
